/*-----------ENTRANCE PAGE: Header--------------------------------*/
@media (max-width: 700px){
    section#header header > div nav{
        display: none;
    }
    section#header header div#header_left{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: -1;
    }
    section#header header > div img{
        border: none;
        margin: 0px 15px 0px 15px;
        padding: 0px 0px 0px 0px;
    }
    section#header header div#header_right a{
        display: none;
    }
    section#header header div#header_right{
        justify-content: right;
    }
    section#header header div#hamburger{
        display: inline;
        display: flex;
        align-items: center;
    }
    section#header header div#hamburger svg{
        fill: var(--secundary);
        background-color: var(--main);
        width: 34px;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 15px;
    }
    section#header header div#hamburger svg:hover{
        cursor: pointer;
        z-index: 2;
    }
}

/*-----------ENTRANCE PAGE: Hero--------------------------------*/
@media (min-width: 1830px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section#hero{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        width: 1720.087px;
    }
    section#hero div:first-child p{
        font-size: 5.5rem;
    }
    section#hero div.buttons{
        gap: 20px;
    }
    section#hero div.buttons button{
        font-size: 2.5rem;
        padding: 1rem 1rem 1rem 1rem;
    }
}
@media (max-width: 650px){
    section#hero{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    section#hero div:first-child p{
        font-size: 1.7rem;
        margin-right: 5rem;
    }
    section#hero div:first-child p br{
        display: none;
    }
    section#hero div.buttons{
        gap: 10px;
    }
    section#hero div.buttons button{
        font-size: 1.2rem;
        padding: 8px 8px 8px 8px;
    }
}
@media (max-width: 415px){
    section#hero{
        text-align: center;
        align-items: center;
    }
    section#hero div:first-child p{
        margin-right: 0px;
    }
}

/*-----------ENTRANCE PAGE: Services--------------------------------*/
@media (max-width: 1194px){
    section#services div#services{
        grid-template-columns: 1fr 1fr 1fr;
    }
    section#services div#services > div{
        width: auto;
        padding: 0px 20px 0 20px;
    }
    section#services div#services > div:nth-child(1){
        grid-column: 1;
    }
    section#services div#services > div:nth-child(2){
        grid-column: 2;
    }
    section#services div#services > div:nth-child(3){
        grid-column: 3;
    }
}
@media (max-width: 930px){
    section#services div#services{
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    section#services div#services > div{
        width: 325px;
    }
    section#services div#services > div:nth-child(3){
        grid-column: 1 / span 2;
    }
}
@media (max-width: 800px){
    section#services div#services > div{
        width: auto;
    }
    section#services div#services > div:nth-child(3){
        width: 325px;
    }
}
@media (max-width: 650px){
    section#services div#services{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    section#services div#services > div:nth-child(1){
        grid-column: 1;
        width: auto;
    }
    section#services div#services > div:nth-child(2){
        grid-column: 1;
        width: auto;
    }
    section#services div#services > div:nth-child(3){
        grid-column: 1;
        width: auto;
    }
}
@media (max-width: 415px){
    section#services > div:first-child{
        font-size: 2rem;
    }
    section#services div#services > div{
        width: auto;
    }
    section#services div#services > div:nth-child(1){
        width: auto;
    }
    section#services div#services > div:nth-child(2){
        width: auto;
    }
    section#services div#services > div:nth-child(3){
        width: auto;
    }
}


/*-----------ENTRANCE PAGE: Cost--------------------------------*/
@media (min-width: 1830px){
    section#cost{
        width: 1783.330px;
    }
    section#cost div div#cost_text h3{
        font-size: 3.5rem;
    }
    section#cost div div#cost_text p{
        font-size: 2.8rem;
    }
}
@media (max-width: 930px){
    section#cost > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section#cost div div#cost_free{
        margin-top: 20px;
    }
    section#cost div div#cost_text h3{
        font-size: 1.9rem;
    }
    section#cost div div#cost_text p{
        font-size: 1.5rem;
    }
}
@media (max-width: 570px){
    section#cost > div{
        display: grid;
        grid-template-columns: 1fr;
    }
    section#cost div div#cost_text h3{
        font-size: 1.7rem;
    }
    section#cost div div#cost_text p{
        font-size: 1.2rem;
    }
    section#cost div div#cost_free{
        width: auto;
        margin: 0px 0px 0px 0px;
    }
    section#cost div div#cost_free h3{
        font-size: 7.85vw;
        padding: 0px 0px 1.6vw 0px;
    }
    section#cost div div#cost_free p:first-child{
        font-size: 2.80357vw;
    }
    section#cost div div#cost_free p:nth-child(3){
        font-size: 4.205355vw;
    }
    section#cost div div#cost_free ul > li{
        font-size: 3.924998vw;
        margin-bottom: 1.4vw;
        text-wrap: wrap;
    }
    section#cost div div#cost_free button{
        font-size: 4.205355vw;
        margin-top: 2.4vw;
    }
    section#cost div div#cost_free ul, section#cost div div#cost_free p:nth-child(3){
        padding: 1.4vw 1.4vw 0px 1.4vw;
    }
    section#cost div div#cost_free ul > li > img{
        padding: 0px 1vw 0 1vw;
        width: 4.205355vw;
    }
}
@media (max-width: 415px){
    section#cost > p{
        font-size: 2rem;
    }
}


/*----------------MINIMUM WIDTH: 350px---------------*/
@media (max-width: 350px){
    body{
        display: none;
    }
}

