:root{
    --main: #122353; /*Buttons, header, and more*/
    --main_dark: #0c1736; /*main color but darker*/
    --secundary: #F1F5F9; /*Font, and others, background*/
    --third: #111827; /*Font*/
    --vivid_blue: #2563EB; /*Extra*/
    --input_background: #d9d9d9; /*Background for inputs*/
    --widgets: #000e19; /*Background color for the widgets*/
}
*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
body{
    color: var(--secundary);
    background: var(--secundary);
    font-size: 1.2rem;
    font-family: "Inter";
    font-weight: 500;
}
section{
    margin: 0px 15px 0px 15px;
}
button{
    display: flex;
    padding: 8px 8px 7px 8px;
    color: var(--secundary);
    border: 2px solid var(--vivid_blue);
    background-color: var(--main);
}


/*------------------------------------------ENTRANCE PAGE------------------------------------------*/
/*------------------------------------------ENTRANCE PAGE------------------------------------------*/
/*--------------------------------------ENTRANCE PAGE: HEADER--------------------------------------*/
section#header{
    background-color: var(--main);
    position: fixed;
    width: 100%;
    margin: 0px 0px 0px 0px;
}
section#header header div#hamburger{
    display: none;
}
section#header header{
    display: flex;
    align-items: center;
    height: 3.2rem;
    justify-content: space-between;
}
section#header header div#header_left div{
    display: flex;
    align-items: center;
}
section#header header > div{
    display: flex;
    align-items: center;
}
section#header header > div img{
    height: 2rem;
    border-right: 2px solid var(--secundary);
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 15px;
}
section#header header > div nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
section#header header > div nav ul li a, section#header header > div > a{
    text-decoration: none;
    font-weight: 700;
    color: var(--secundary);
    border: 2px solid var(--main);
    text-wrap: nowrap;
}
section#header header > div nav ul li a:hover, section#header header > div > a:hover{
    border-bottom: 2px solid var(--secundary);    
}
section#header header div#header_right{
    display: flex;
    margin-left: 15px;
    align-items: center;
}
section#header header div#header_right div div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--vivid_blue);
    padding: 3px 4px 3px 4px;
    border-radius: 3px;
    border: 4px solid var(--secundary);
    margin-right: 15px;
    margin-left: 10px;
}
section#header header div#header_right div div:hover{
    background: var(--main);
    cursor: pointer;
}
section#header header div#header_right div svg{
    width: 20px;
}
section#header header div#header_right div svg g ellipse, section#header header div#header_right div svg g path{
    fill: var(--secundary);
}
div#top_space{
    height: 3.2rem;
    text-align: center;
    font-size: 3px;
    user-select: none;
    color: var(--main);
    background-color: var(--main);
}
section#header header button{
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: none;
    background-color: transparent;
}
section#header header button:hover{
    cursor: pointer;
}

/*--------------------------------------ENTRANCE PAGE: HERO--------------------------------------*/
section#hero{
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url("../img/home/hero/hero_background_dark.png");
    background-size: cover;
    padding: 2vw;
    box-shadow: 0 0 5px var(--main);
}
section#hero div:first-child p{
    font-size: 5vw;
    font-weight: 800;
    margin-bottom: 1.5vw;
    text-shadow: 0 0 15px var(--third);
}
section#hero div.buttons{
    display: flex;
    gap: 1.5vw;
}
section#hero div.buttons a{
    text-decoration: none;
}
section#hero div.buttons button{
    font-size: 2.2vw;
    text-wrap: nowrap;
    text-decoration: none;
    padding: 1vw 1vw 1vw 1vw;
    font-weight: 600;
    border-width: 0.22vw;
    border-color: var(--vivid_blue);
}
section#hero div.buttons button:nth-child(2){
    background-color: transparent;
    border-color: var(--secundary);
}
section#hero div.buttons button:nth-child(2):hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: var(--third);
}
section#hero div.buttons button:first-child:hover{
    text-decoration: underline;
    background-color: var(--main_dark);
    cursor: pointer;
}

/*--------------------------------------ENTRANCE PAGE: Services--------------------------------------*/
section#services{
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    place-items: center;
}
section#services > div:first-child{
    text-align: center;
    color: var(--third);
    font-size: 2.5rem;
    font-weight: 800;
}
section#services div#services{
    display: grid;
    margin-top: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    width: 100%;
    max-width: 1400px;
    gap: 5px;
}
section#services div#services > div{
    background-image: url("../img/home/services/service_back_dark.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px 0px 25px;
    text-align: center;
    gap: 10px;
    height: 100%;
    width: 325px;
    box-shadow: 0 0 5px var(--main);
}
section#services div#services > div > div svg{
    fill: var(--secundary);
    width: 65px;
}
section#services div#services > div:nth-child(1){
    grid-column: 1;
}
section#services div#services > div:nth-child(2){
    grid-column: 3;
}
section#services div#services > div:nth-child(3){
    grid-column: 5;
}
section#services div#services > div h2{
    margin-top: 25px;
    font-size: 2rem;
}
section#services div#services > div p{
    margin-bottom: 25px;
    font-size: 1.5rem;
}

/*--------------------------------------ENTRANCE PAGE: COST--------------------------------------*/
section#cost{
    margin-top: 30px;
    margin-bottom: 15px;
}
section#cost > p{
    color: var(--third);
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 15px;
}
section#cost div div#cost_free ul > li > img{
    padding: 0px 5px 0 5px;
    width: 1.5rem;
}
section#cost > div{
    display: grid;
    grid-template-columns: auto auto 1fr 1fr;
    border: 5px solid var(--third);
    box-shadow: 0 0 5px var(--main);
}
section#cost div div#cost_free{
    background-image: url("../img/home/services/service_back_dark.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
}
section#cost div div#cost_free h3{
    padding: 0px 0px 8px 0px;
    font-size: 2.8rem;
}
section#cost div div#cost_free p:first-child{
    font-size: 1.0rem;
    padding-bottom: 0px;
}
section#cost div div#cost_free p:first-child, section#cost div div#cost_free h3{
    text-align: center;
}
section#cost div div#cost_free ul{
    list-style-type: none;
    text-align: left;
    height: 100%;
}
section#cost div div#cost_free ul, section#cost div div#cost_free p:nth-child(3){
    background-color: var(--main);
    padding: 7px 7px 0px 7px;
}
section#cost div div#cost_free p:nth-child(3){
    font-size: 1.5rem;
    font-weight: 600;
}
section#cost div div#cost_free ul > li{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 7px;
    text-wrap: nowrap;
}
section#cost div div#cost_free a{
    text-decoration: none;
}
section#cost div div#cost_free a button{
    margin-top: 12px;
    color: var(--secundary);
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;
    width: 100%;
}
section#cost div div#cost_free a button:hover{
    background-color: var(--main_dark);
    text-decoration: underline;
    cursor: pointer;
}
section#cost div div#cost_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: var(--third);
}
section#cost div div#cost_text h3{
    text-align: center;
    font-weight: 800;
    padding-top: 20px;
    font-size: 3vw;
}
section#cost div div#cost_text p{
    font-size: 2.5vw;
    padding: 5px 20px 20px 20px;
    text-align: center;
}

/*--------------------------------------ENTRANCE PAGE: BOTTOM--------------------------------------*/
section.bottom{
    color: var(--third);
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1rem;
}





/*-----------------------------------------LOG-IN PAGE--------------------------------------------*/
/*-----------------------------------------LOG-IN PAGE--------------------------------------------*/
/*--------------------------------------LOG-IN PAGE: HEADER---------------------------------------*/
body#log-in_body{
    display: inline;
}

section#header header div#header_left div svg{
    fill: var(--secundary);
    width: 34px;
    margin-left: 15px;
    margin-right: 15px;
}
section#header header div#header_left div a{
    font-weight: 700;
    font-size: 1.2rem;
    border: 2px solid var(--main);
    color: var(--secundary);
    text-decoration: none;
}
section#header header div#header_left div a:hover{
    border-bottom: 2px solid var(--secundary);
    cursor: pointer;
}
section#header header div#header_left div a button svg:hover{
    fill: var(--third);
}
section#header header div#header_left div > a:first-child:hover{
    border: 2px solid var(--main);
}
section#header header div#header_right > a.log-in_sign-up{
    margin-right: 15px;
}

/*--------------------------------------LOG--IN PAGE: LOG-IN---------------------------------------*/
section#log-in{
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 1830px;
}
section#log-in div#log-in_picture{
    overflow: hidden;
    width: 100%;
    border-right: 5px solid var(--main);
    max-width: 565.062px;
}
section#log-in div#log-in_picture img{
    height: 100%;
    float: right;
}
section#log-in > div{
    display: flex;
    border: 5px solid var(--main);
    box-shadow: 0 0 5px var(--main);
}
section#log-in > div div#log-in_form_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin: 30px;
}
section#log-in > div div#log-in_form_div div img{
    width: 520px;
    margin-bottom: 15px;
}
section#log-in > div div#log-in_form_div form#log-in_form fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#log-in > div div#log-in_form_div form#log-in_form fieldset label{
    font-family: 'Inter';
    font-size: 1.7rem;
    font-weight: 800;
    text-align: left;
    width: 100%;
    color: var(--third);
}
section#log-in > div div#log-in_form_div form#log-in_form fieldset button{
    border: 3px solid var(--vivid_blue);
    width: fit-content;
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: 800;
    padding-left: 30px;
    padding-right: 30px;
}
section#log-in > div div#log-in_form_div form#log-in_form fieldset button:hover{
    background-color: var(--main_dark);
    cursor: pointer;
    text-decoration: underline;
}
section#log-in > div div#log-in_form_div form#log-in_form fieldset input{
    height: 30px;
    padding: 8px 12px 8px 12px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 15px;
    background-color: var(--input_background);
    border: 2px solid var(--main);
    border-radius: 5px;
    width: 425px;
}
section#log-in > div div#log-in_form_div form#log-in_form fieldset, section#log-in > div div#log-in_form_div form#log-in_form fieldset{
    border: none;
}
section#log-in > div div#log-in_form_div > div:nth-child(3){
    margin-top: 15px;
    color: var(--third);
}

/*--------------------------------------SIGN-UP PAGE: SIGN-up---------------------------------------*/
section#sign-up{
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 1830px;
}
section#sign-up div#sign-up_picture{
    overflow: hidden;
    width: 100%;
    border-right: 5px solid var(--main);
    max-width: 565.062px;
}
section#sign-up div#sign-up_picture img{
    height: 100%;
    float: right;
    margin-right: -80px;
}
section#sign-up > div{
    display: flex;
    border: 5px solid var(--main);
    box-shadow: 0 0 5px var(--main);
}
section#sign-up > div div#sign-up_form_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin: 30px;
}
section#sign-up > div div#sign-up_form_div div img{
    width: 520px;
    margin-bottom: 15px;
}
section#sign-up > div div#sign-up_form_div form#sign-up_form fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#sign-up > div div#sign-up_form_div form#sign-up_form fieldset label{
    font-family: 'Inter';
    font-size: 1.7rem;
    font-weight: 800;
    text-align: left;
    width: 100%;
    color: var(--third);
}
section#sign-up > div div#sign-up_form_div form#sign-up_form fieldset button{
    border: 3px solid var(--vivid_blue);
    width: fit-content;
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: 800;
    padding-left: 30px;
    padding-right: 30px;
}
section#sign-up > div div#sign-up_form_div form#sign-up_form fieldset button:hover{
    background-color: var(--main_dark);
    cursor: pointer;
    text-decoration: underline;
}
section#sign-up > div div#sign-up_form_div form#sign-up_form fieldset input{
    height: 30px;
    padding: 8px 12px 8px 12px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 15px;
    background-color: var(--input_background);
    border: 2px solid var(--main);
    border-radius: 5px;
    width: 425px;
}
section#sign-up > div div#sign-up_form_div form#sign-up_form fieldset, section#sign-up > div div#sign-up_form_div form#sign-up_form fieldset{
    border: none;
}
section#sign-up > div div#sign-up_form_div > div:nth-child(3){
    margin-top: 15px;
    color: var(--third);
}
section#sign-up > div div#sign-up_form_div div form#sign-up_form div{
    color: var(--third);
    word-wrap: wrap;
    width: 425px;
    font-family: 'Inter';
    margin-bottom: 15px;
}



/*------------------------------------------DASHBOARD PAGE------------------------------------------*/
/*------------------------------------------DASHBOARD PAGE------------------------------------------*/
/*--------------------------------------DASHBOARD PAGE: SIDE BAR--------------------------------------*/
section#header header a.h_dashboard:hover{
    border-color: var(--main);
}
div#d_main{
    display: flex;
    min-height: 100vh;
}
div#d_main div#side_bar{
    background-color: var(--main);
    margin: 0px 0px 0px 0px;
}
div#d_main > div:nth-child(2){
    width: 100%;
}
div#d_main div#side_bar > a > button#btn_dashboard{
    border-top: 1.5px solid var(--secundary);
}
div#d_main div#side_bar > a >  button{
    border: none;
    width: 92px;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 20px 0px 20px 0px;
    border-bottom: 1.5px solid var(--secundary);
}
div#d_main div#side_bar > a > button:hover{
    background-color: var(--main_dark);
    cursor: pointer;
}
div#d_main div#side_bar > a > button svg{
    fill: var(--secundary);
    stroke: var(--main);
    height: 30px;
    margin-bottom: 5px;
}
div#d_main div#side_bar > a > button p{
    font-weight: 600;
    font-size: 0.8rem;
}
div#d_main div#side_bar > a{
    text-decoration: none;
}

/*--------------------------------------DASHBOARD PAGE: Quick Summary--------------------------------------*/
section#balance_summary div#dashboard_top{
    color: var(--third);
    font-family: 'Inter';
    text-align: center;
    display: none;
}
section#balance_summary div#view_buttons{
    float: right;
    display: flex;
    gap: 8px;
}
section#balance_summary div#title1 h1{
    font-weight: 800;
    font-size: 2.2rem;
    color: var(--third);
    margin-top: 20px;
}
section#balance_summary div#widgets{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}
section#balance_summary div#widgets > div{
    background-color: var(--widgets);
    padding: 15px 15px 15px 15px;
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: var(--secundary);
    border-radius: 15px;
}
section#balance_summary div#widgets > div h2{
    font-size: 1.2rem;
}
section#balance_summary div#widgets > div p{
    font-size: 1.8rem;
}


/*--------------------------------------DASHBOARD PAGE: Expenses by Category--------------------------------------*/
section#expenses div#title2 h1{
    font-weight: 800;
    font-size: 2.2rem;
    color: var(--third);
    margin-top: 35px;
}
section#expenses div#chart_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 20px;
}
section#expenses div#chart_div div#chart{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: conic-gradient(
        rgb(2, 2, 165) 0% 20%,
        rgb(1, 113, 24) 20% 60%,
        rgb(109, 13, 2) 60% 70%,
        rgb(139, 0, 95) 70% 100%
    );
}
section#expenses div#chart_div div#chart_categories > div{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 22px;
    color: var(--third);
}
section#expenses div#chart_div div#chart_categories > div > div.holder{
    width: 1.2rem;
    height: 1.2rem;
    background-color: pink;
}

/*--------------------------------------DASHBOARD PAGE: Recent Transactions--------------------------------------*/
section#recent_transactions div#title3 h1{
    font-weight: 800;
    font-size: 2.2rem;
    color: var(--third);
    margin-top: 35px;
}
section#recent_transactions div#r_transactions{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
section#recent_transactions div#r_transactions div.trans{
    width: 100%;
    height: 32px;
    background-color: rgb(70, 70, 86);
}